.resources__link {
  width: 270px;
  display: flex;
  justify-content: center;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .3s linear;
}

.resources__link:hover {
  opacity: .5;
}
